<!-- Creating the content heading -->
 <% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<!-- The next code shows a message on the screen -->
 <% if (messages && Object.keys(messages).length > 0) { %>
    <div id="flash-messages">
        <% for (const type in messages) { %>
            <% messages[type].forEach(function(message){ %>
                <div class="alert <%= type %>">
                    <%- messages() %>
                </div>
            <% }); %>
        <% } %>
    </div>
<% } %>
<!-- Here we are showing the view main content -->
<div class = "external">
  <div class="form-container">
      <form class="login-form" id="loginForm" action="/account/login" method="post">
        <h2>Login</h2>

        <label for="account_email">Email:</label>
        <input type="email" id="account_email" name ="account_email" placeholder="Enter your email" required>

        <label for="account_password">Password:</label>
        <input type="password" id="account_password" name = "account_password" placeholder="Enter your password" required>

        <small class="password-instructions">
          Passwords must be a minimum of 12 characters and include 1 capital letter, 1 number, and 1 special character.
        </small>

        <button type="button" id="toggle-password">Show password</button>
        <button type="submit">Login</button>
      </form>

      <div class="signup-message">
        No Account? <a href="/account/register">Sign up</a>
      </div>
  </div>
<div>
<script src="/js/script.js"></script>