<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content= "CASE Motors home page, here you will find your ideal car, that automobile legend you always wanted to have.">
    <meta name="author" content="Robson Paulo da Silva">
    <title><%- title %></title>
    <link rel="icon" href="images/site/favicon-32x32.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>