<h1>Welcome to CSE Motors</h1>
<div id="vehicleMainImg">
    <img id ="innerMainImg" src="images/vehicles/delorean.jpg" alt="Delorean Photo">
    <div class="overlay-box">
        <p >
            <span id = "productNameCall">DMC Delorean</span>
            <br>
            <span class="callMessage">3 Cup holders</span>
            <br>
            <span class="callMessage">Superman doors</span>
            <br>
            <span class="callMessage">Fuzzy dice!</span>
        </p>
        <img src="images/site/own_today.png" class="callForAction" alt="Delorean Image">
    </div>
</div>
<div class="container">
    <!-- Left Card -->
    <div class="card">
      <h2>Delorean Upgrades</h2>
      <div class="grid-images">
        <div class="image-box">
            <div class="image-inner-container"> <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor"> </div>
            <a href="page1.html">Flux Capacitor</a>
        </div>
        <div class="image-box">
            <div class="image-inner-container"> <img src="images/upgrades/flame.jpg" alt="Flame Decals"> </div>
            <a href="page2.html">Flame Decals</a>
        </div>
        <div class="image-box">
            <div class="image-inner-container"> <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Sitcker"> </div>
            <a href="page3.html">Bumper Stickers</a>
        </div>
        <div class="image-box">
            <div class="image-inner-container"> <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps"> </div>
            <a href="page4.html">Hub Caps</a>
        </div>
      </div>
    </div>

    <!-- Card Direita -->
    <div class="card">
      <h2>DMC Delorean Reviews</h2>
      <ul class="list">
        <li>"So fast it's almost like travelling in time." (4/5)</li>
        <li>"Coolest ride on the road" (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
      </ul>
    </div>

</div>
