<!-- Creating the content heading -->
 <% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<!-- The next code shows a message on the screen -->
 <%- messages() %>
<!-- Here we are showing the view main content -->

<ul id="management">
    <li><a href="/inv/add_classification">Add New Classification</a></li>
    <li><a href="/inv/add_inventory">Add New Vehicles</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<%- classificationSelect %>
<table id = "inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src = "/js/inventory.js"> </script>
