<!-- Creating the content heading -->
 <% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<!-- The next code shows a message on the screen -->
 <%# messages() %>
<!-- Here we are showing the view main content -->

<ul id="management">
    <li><a href="/inv/add_classification">Add New Classification</a></li>
    <li><a href="/inv/add_inventory">Add New Vehicles</a></li>
</ul>