<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<!-- The next code shows a message on the screen -->
 <% if (messages && Object.keys(messages).length > 0) { %>
    <div id="flash-messages">
        <% for (const type in messages) { %>
            <% messages[type].forEach(function(message){ %>
                <div class="alert <%= type %>">
                    <%- messages() %>
                </div>
            <% }); %>
        <% } %>
    </div>
<% } %>
